<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのEメールアドレスが変更されていることを通知する為の連絡です <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>あなたのEメールアドレスが変更されたことを通知する為の連絡です <%= @resource.email %>.</p>
<% end %>
